* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Ubuntu',sans-serif;
}

.grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 450px;
    height: 400px;
    row-gap: 0px;
    column-gap: 0px;

}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid black;
    border-collapse: collapse;
    transition:0.3s;
    width: 100px;
    height:100px;
    font-size: 32px;
    font-weight: bold;
}

.box:hover{
    border: 2px solid #4aac04;
}

.light-box{
    background-color: #ffffff;
    color: black;
    transition:0.3s;
}

.dark-box{
    background-color: #0a0a0a;
    color: #ffffff;
    transition:0.3s;
}

#box-1,#box-2,#box-3,#box-4{
    border-top: 4px solid black;
}

#box-4,#box-8,#box-12,#box-16{
    border-right: 4px solid black;
}

#box-13,#box-14,#box-15,#box-16{
    border-bottom: 4px solid black;
}

#box-1,#box-5,#box-9,#box-13{
    border-left: 4px solid black;
}